<!DOCTYPE html>
<html>

<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/static/css/materialize.css" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="/static/css/style.css" media="screen,projection" />

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
    <nav>
        <div class="nav-wrapper z-depth-1" style="z-index: 1;">
            <a href="http://mahoney.best" class="brand-logo" style="padding-left: 10px;">mahoney.best</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li class="active"><a href="http://pcloud.mahoney.best/">pcloud</a></li>
            </ul>
        </div>
    </nav>

    <ul class="sidenav sidenav-fixed" style="z-index: 0;">
        <div class="row">
            <li>
                <a href="#!">
                    <i class="material-icons">account_circle</i>
                    <span style="margin: auto;">mahonec</span>
                </a>
            </li>
        </div>
        <div class="row"> 
            <li> <div class="divider"></div> </li>
        </div>
        <div class="row">
            <li>
                <a href="#!">
                    <i class="material-icons">folder_shared</i>
                    <span style="margin: auto;">public</span>
                </a>
            </li>
        </div>
        <div class="row">
            <li>
                <a href="#!">
                    <i class="material-icons">folder</i>
                    <span style="margin: auto;">private</span>
                </a>
            </li>
        </div>
        <div class="row" style="">
            <li>
                <a href="#!">
                    <img class="github-icon" src="/static/github/PNG/GitHub-Mark-32px.png">
                    <span style="margin: auto;">source</span>
                </a>
            </li>
        </div>
    </ul>

    <div class="row">
        <nav class="col s10 offset-s2">
            <div class="nav-wrapper">
                <div style="padding-left: 10px;">
                    <a href="#!" class="breadcrumb">First</a>
                    <a href="#!" class="breadcrumb">Second</a>
                    <a href="#!" class="breadcrumb">Third</a>
                </div>
            </div>
        </nav>
    </div>

    <script type="text/javascript" src="/static/js/materialize.js"></script>
    <script>
        M.AutoInit();
    </script>
</body>

</html>