@import "@materializecss/materialize/sass/components/_color-variables";
@import "@materializecss/materialize/sass/components/_color-classes";
@import "@materializecss/materialize/sass/components/_variables";
@import "@materializecss/materialize/sass/components/_normalize";
@import "@materializecss/materialize/sass/components/_global";

// Variables defined here take precendence
$sidenav-width: 256px;

$primary-color: color("deep-orange", "lighten-2");
$primary-color-light: lighten($primary-color, 15%);
$primary-color-dark: darken($primary-color, 15%);
