.sidenav {
    z-index: inherit;
    top: 64px;
    width: 16.6666666667%;
}

.sidenav > :first-child {
    margin-top: 20px;
}

.sidenav li a {
    width: 100%;
}

.github-icon {
    float: left;
    height: 24px;
    line-height: 48px;
    margin: 12px 32px 0 0;
    width: 24px;
}